@media screen{
    #outer { 
        width: screen width - 40; 
    }
    #inner {
        text-align: center;
        width: 600px; margin: 5% auto;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        }
        #inner-login {
         text-align: center;
    width: 400px; margin: 5% auto;
    border: 4px solid white;
    color: white;
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(5px);
    font-weight: bold;
    border-radius: 20px;
        }
}
    .pizzas{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
    .pizza{
    margin-bottom: 50px;
    text-align: center;
    }
body{
    background-color: black;
    color: white;
}
.img{
    width: 80%;
    height: 80%;
    border-radius: 180px;
    cursor: pointer;
    transition: all 0.7s;
}

.img-view-all{
    width: 100%;
    height: 100%;
    border-radius: 360px;
    transition: all 0.7s;
}
.img:hover{
transform: scale(1.1);
}
.img-view-all:hover{
transform: scale(1.05);
}
.btn{
    width: 64px;
    height: 64px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 24px;
    border: 2px solid white;
}
.btn:hover{
    background-color: rgb(20, 20, 20);
}
.btn:active{
    background-color: gray;
}

header{
	width: 100%;
	height: 70px;
    background: rgba(red, green, blue, 0);
}
.title{
	font-size: 36px;
	padding-top: 10px;
	text-align: center;
}
.menu{
	list-style: none;
	position: absolute;
	top: 20px;
	right: 50px;
}
.lnk{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}
.lnks{
color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
.lnk:hover{
    filter: blur(1px);
}
.icon{
    width: 40px;
    height: 40px;
}

.btn_{
    width: auto;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 2px solid white;

    margin-right: 10px;
}
.btn_:hover{
    background-color: rgb(20, 20, 20);
}

.div_input{
    /* border: 5px solid black; */
    border-bottom: 2px solid white;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-decoration: underline;
}

.input{
    width: 256px;
    height: 48px;
    background: rgba(0,0,0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline:none;
}
.input-search{

width: 480px;
    height: 48px;
    background: rgba(0,0,0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
    display:inline-block;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 2px solid white;
}
.btn-search{
width: 100px;
    height: 54px;
    background: rgba(0,0,0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
    display:inline-block;
    outline: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 2px solid white;
}
.btn-search:hover{
background-color: rgb(20, 20, 20);
}
::placeholder{
    color: white;
    font-weight: bold;
    text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: white;
-webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0, 0) inset;
transition: background-color 5000s ease-in-out 0s;
}
.btn-login{
 width: 350px;
 height: 64px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 24px;
    border: 2px solid white;
}
.btn-login:hover{
background-color: rgb(20, 20, 20);
}
.btn-login:active{
background-color: gray;
}
.icon-login{
width: 40px;
height: 40px;
}
.icon-search{
width: 20px;
height: 20px;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-file:hover .input-file-btn {
	background-color: #59be6e;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}

.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.input:focus::placeholder{
    font-size: 12px;
    text-align: right;
}

.gimme-admin{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #222;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
    background-color: green;
    color: white;
    font-size: 16px;
    width: 188px;
    height: 40px;
    margin-right: 5px;
}
.gimme-admin:hover{
background-color: rgb(20, 255, 20);
}
.steal-admin{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #222;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
    background-color: orange;
    color: white;
    font-size: 16px;
    width: 188px;
    height: 40px;
    margin-right: 5px;
}
.steal-admin:hover{
background-color: rgb(168, 168, 0);
}
.steal-account{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #222;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
    background-color: red;
    color: white;
    font-size: 16px;
    width: 188px;
    height: 40px;
    margin-right: 5px;
}
.steal-account:hover{
background-color: rgb(128, 10, 10);
}
textarea {
    resize: none;
}
.element{
   margin-right: 20px;
}
.user_in_admin{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: orange;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}

.spinner {
  color: white;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  content: "⠋";
  font-size: 30px;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

.order_img{
width: 50%;
height: 50%;
transition: all 0.8s;
}
.order_img:hover{
transform: scale(1.05);
}
