<link rel="stylesheet" href="/static/css/footer.css">

<div class="footer">
  <div class="col">
    <h1 id="pizza_h1"></h1>
    <div style="display:inline">
      <p style="display:inline-block;" >About</p>
      <p style="display:inline-block;" >Mission</p>
      <p style="display:inline-block;" >Services</p>
      <p style="display:inline-block;" >Social</p>
      <p style="display:inline-block;" >Get in touch</p>
    </div>

  </div>
<script src="/static/js/get_year.js"></script>
<div class="clearfix"></div>
</div>