<link rel="stylesheet" href="/static/css/footer.css">

<div class="footer">
  <div class="col">
    <h1 id="pizza_h1"></h1>
    <div style="display:inline">
      <a href='/'><p style="display:inline-block;" >Главная</p></a>
      <a href='/cart'><p style="display:inline-block;" >Корзина</p></a>
      <a href='/profile#orders'><p style="display:inline-block;" >Мои заказы</p></a>
      <a href='/login'><p style="display:inline-block;" >Войти</p></a>
      <a href='/profile'><p style="display:inline-block;" >Профиль</p></a>
    </div>

  </div>
<script src="/static/js/get_year.js"></script>
<div class="clearfix"></div>
</div>