<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/pizza.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Пицца</title>
</head>
<body>
{% include 'header.html' %}
    <script type="text/javascript" src="/static/js/index.js"></script>
    <div id="outer">
        <div id="inner">
            <form  method="get" action="">
                <input type="text" placeholder="Поиск" class="input-search" id="search" name="search" value="{{ search }}">
            <button class="btn-search" type="submit"><img class="icon-search" src="/static/images/search.png"></button>
            </form>
            <h1>Здравствуйте, {% if user == '' %}Гость{% else %}{{ user.surname }} {{ user.name }}{% endif %}</h1>
        </div>
        <div class="pizzas">
      {% set len_ = pizzas|length %}
            {% if len_ == 0 %}
            <div style="text-align: center;">
             <h1>Ничего не найдено</h1>
            </div>
            {% else %}
            {% for i in range(len_) %}
            <div style="display:inline">
    <div style="width: 33%; float: left">
        <div class="pizza">
   <a href="/view?id={{ pizzas[i].id }}"><img src="/{{ pizzas[i].path }}" class="img"></a>

    <h1 >{{ pizzas[i].name }} - {{ pizzas[i].price }} ₽ </h1>

            <button class="btn_" onclick="red_('/buy?id={{ pizzas[i].id }}')">💲 Оформить заказ</button>{% if not pizzas[i] in pizzas_in_cart %}<button class="btn_" onclick="add2cart({{pizzas[i].id}})">&#9989; Добавить в корзину</button>{% else %}<button class="btn_" onclick="del_from_cart({{ pizzas[i].id }})">❌ Удалить из Корзины</button>{% endif %}
        </div></div>
</div>
        </div>
        {% if i + 1 % 3 == 0 %}
        <br><br><br>
        {% endif %}
        {% endfor %}
        {% endif %}
</div>
{% include 'footer.html' %}
</body>
</html>